body{
  background-color: gainsboro;
}

#header{
  background-color: rgb(80, 177, 241);
  background-size: 200px 300px;
}
#img{
  height: 10px;
  width: 8px;
  margin-bottom: 0px;
}

#header h1, p {
  text-align: center;
  padding: 0; 
  margin-bottom: 0px;
} 
#Container{

  margin: auto;
  background-color: darkgray;
}
#objective b{
  float: left;
  padding-left: 0px;
}

#objective {
  text-align: center;
  padding-left: 50px;
}
#skills b{
  float: left;
  padding-left: 0px;
}

#skills {
  text-align: center;
  padding-left: 50px;
}
#experience b{
  float: left;
  padding-left: 0px;
}

#experience {
  position: relative;
  text-align: center;
  padding-left: 50px;
}
#edu b{
  float: left;
  padding-left: 0px;
}
#edu {
  padding-left: 50px;
  margin-top: 50px;
}
#footer{
  text-align: center;
}






